<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Esta aplicación muestra un ejemplo de App Service con Azure  <%= title %></p>
    </br>
    <h2>Hola Mundo!</h2>
  </body>
</html>
